/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style-type: none;
}

li {
  margin-bottom: 2px;
}

.homepage h5 {
  font-size: 2.0rem;
  margin-bottom: 2px;
}


/* Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  color: #222;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: #222;
  /*text-decoration: none;*/
}

a:hover {
  color: #0FA0CE;
}

.blog img {
  width: 100%;
}

.blog ul {
  list-style-type: circle;
}

/* Phones
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*Needed this when I didn't have links underlined*/

@media only screen and (max-device-width: 480px) {
  a {
    color: #222;
    text-decoration: underline;
  }
}
